.diagonalBox {
    background-image: linear-gradient(45deg, #035db1ee, #121031);
    transform: skewY(-12deg);
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(4%);
    }
    to {
        transform: translateX(3.5%);
    }
}

.diagonalBox:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #035db1ee, #121031); 	
    transform: skewY(-12deg);
}


.display {
    margin: 0 auto; 
    transform: skewY(12deg);
    height: 100vh;
    overflow-y: scroll;
}

.top {
    width: 100%;
    display: grid;
    grid-template-columns: 93% 2% 5%;
    grid-template-rows: 95% 5%;
}

.name {
    font-size: 50px;
    color: white;
    transform: translateX(3.5%);
    margin-bottom: 0;
    padding-bottom: 0;
    animation: fadeIn 0.5s, slideIn 0.8s;
}

.xOut, .editModeButton {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.editModeButton {
    margin: -10px 0 0 0;
    cursor: pointer;
}

.favorites {
    font-size: 15px;
    color: rgb(185, 185, 185);
    grid-column: span 3;
    display: inline-block;
    animation: fadeIn 3s;
}

.favorites p {
    margin: -10px 0 20px 0;
    text-align: center;
    display: inline-block;
}

.favorites button, .favorites a {
    font-size: 15px;
    border: none;
    background: none;
    text-decoration: none;
    color: rgb(185, 185, 185);
    outline: 0;
    cursor: pointer;
    display: inline;
}

.favorites button:hover, .favorites a:hover {
    color: white;
}

.editButton {
    position: absolute;
    margin: auto 15px;
}

.editButton button {
    margin: auto 0;
}

@media (max-width: 560px) {

    .display {
        margin: 0 auto; 
        transform: skewY(12deg);
        overflow-y: scroll;
    }

    .top {
        width: 100%;
        display: grid;
        grid-template-columns: 93% 2% 5%;
        grid-template-rows: 95% 5%;
    }

    .xOut, .editModeButton {
        margin-left: -25px;
    }

    .editModeButton {
        margin: -10px 0 0 -80px;
        cursor: pointer;
    }



}

