.diagonalBox {
    background-image: linear-gradient(45deg, #035db1ee, #121031);
    transform: skewY(-12deg);
    width: 100%;
    height: 100%;
}

.diagonalBox:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #035db1ee, #121031); 	
    transform: skewY(-12deg);
}

.display {
    margin: 0 auto; 
    transform: skewY(12deg);
    height: 100vh;
}

.top {
    width: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
}

.name {
    font-size: 50px;
    color: white;
    transform: translateX(5%);
}

.xOut {
    font-size: 40px;
    color: white;
    text-decoration: none;
}