.diagonalBox {
    background-image: linear-gradient(45deg, #035db1ee, #121031);
    transform: skewY(-12deg);
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


@keyframes slideIn {
    0% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(2.5%);
    }
}

.diagonalBox:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #035db1ee, #121031); 	
    transform: skewY(-12deg);
}


.display {
    margin: 0 auto; 
    transform: skewY(12deg);
    height: 100vh;
    overflow-y: scroll;
}

.top {
    width: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 95% 5%;
}

.name {
    font-size: 50px;
    color: white;
    transform: translateX(2.5%);
    margin-bottom: 0;
    padding-bottom: 0;
    animation: fadeIn 0.5s, slideIn 0.8s;
}

.xOut {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.favorites {
    font-size: 15px;
    color: rgb(185, 185, 185);
    grid-column: span 2;
    display: inline-block;
    animation: fadeIn 3s;
}

.favorites p {
    margin: -10px 0 20px 0;
    text-align: center;
    display: inline-block;
}

.favorites button, .favorites a {
    font-size: 15px;
    border: none;
    background: none;
    text-decoration: none;
    color: rgb(185, 185, 185);
    outline: 0;
    cursor: pointer;
    display: inline;
}

.favorites button:hover, .favorites a:hover {
    color: white;
}