.header {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;  
    grid-template-rows: 2fr 1fr;
}

.headerTop {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 90% 10%;
}

.headerBottom {
    position: relative;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 0;
}

.title {
    font-family: 'Fugaz One', sans-serif;
    font-size: 50px;
    grid-column: span 1;
    margin: 20px 1px;
    background: -webkit-linear-gradient(left, #3E7EDE, #8FE2BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(5%);
    z-index: 2;
    position: relative;
    height: max-content;
}

.login {
    font-family: 'Epilogue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    font-family: 'Epilogue', sans-serif;
    color: white;
    grid-column: span 1;
}

.options {
    font-family: 'Epilogue', sans-serif;
    background: linear-gradient(rgb(157, 211, 255), rgb(193, 227, 255));
    margin: 0 5px;
    border-radius: 4px;
    padding: 3px;
}

.search {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 7%;
    z-index: -5;
    text-align: right;
}

.searchBox {
    position: relative;
    z-index: 0;
}

.searchBox {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    padding: 5px;
    z-index: 0;
}

.searchBox:focus, .options:focus {
    box-shadow: 0 0 5px 1px #85d5ee;
    border: 2px solid #a7eaff;
}

.searchBox::-webkit-search-cancel-button{
    cursor: pointer;  
}