.SelectionPage {
    height: 100vh;
}

.SelectionPage-AllLinks {
    height: calc(100vh - 169.5px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5%;   
    box-sizing: border-box;
}