
.lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.picture {
    max-width: 40vw;
    max-height: 50vw;
    margin: -5% 8% 5% auto;
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0.5);
}

.trivia {
    height: max-content;
    background: linear-gradient(56deg, #654ea3, #0b2469);
    border-radius: 5px;
    margin: 10% 15% auto 15%;
    text-align: left;
    color: white;
    font-size: 22px;
    font-weight: 800;
}

.trivia span {
    font-weight: 400;
}

.trivia p {
    margin-left: 25px;
    margin-right: 25px;
}

.trivia a {
    color: white;
    text-decoration: none;
}

.trivia a:hover {
    color: rgb(201, 201, 201);
}