.addName {
    margin-top: 15vh;
    font-family: 'Epilogue', sans-serif;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.field {
    border-radius: 5px;
    margin-bottom: 75px;
}

.field input {
    font-size: 25px;
}

.buttons {
    font-size: 20px;
}

.buttons a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.buttons a:hover {
    color: rgb(193, 227, 255);
}

.buttons button {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.buttons button:not([disabled]) {
    background: linear-gradient(rgb(170, 196, 252), rgb(127, 177, 206));
    border: 2px solid black;
}

.buttons button:focus {
    background: linear-gradient(rgb(109, 163, 194), rgb(170, 196, 252));
}

.alert, .message {
    height: 40px;
    font-size: 23px;
    margin-bottom: 7%;
}

.alert {
    color: red;
}

.message {
    color: white;
}