.AddRobotPage {
    width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(#3170aa, #02142c);
    font-family: 'Epilogue', sans-serif;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.AddRobotPage-title {
    color: white;
    font-size: 50px;
    margin-top: 0;
    padding-top: 125px;
    animation: fadeIn 1s;
}


.AddRobotPage-progressBar {
    border: .5px solid rgb(94, 94, 94);
    background: none;
    position: relative;
    margin: 5% auto;
    width: 80%;
}

.AddRobotPage-progressBarFill {
    transition: 0.2s all;
    background-color: turquoise;
    position: absolute;
    top: 0;
    height: 10px;
}

.AddRobotPage-thankYou {
    padding: 40vh 0 5vh 0;
    
}

.AddRobotPage-link {
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.AddRobotPage-link:hover {
    color: rgb(193, 227, 255);
}

.AddRobotPage-last {
    padding-bottom: 27.5vh;
}